# : separated list of profiles to use. Ex: galaxy_ng/ui:ha
COMPOSE_PROFILE=

# : separate list of python dependencies to include from source
DEV_SOURCE_PATH=

# Set any custom pulp settings by adding environment variables with the PULP_ prefix
# PULP_MY_SETTING....