receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
            - http://*
            - https://*

processors:

  memory_limiter:
    check_interval: 2s
    limit_mib: 200

  filter/filter_pulp_api_request_duration:
    metrics:
      metric:
      - 'not (name == "api.request_duration")'

  filter/exclude_pulp_api:
    metrics:
      metric:
      - 'name == "api.request_duration"'

  batch/api_aggregation:
    timeout: 10s

  attributes/remove_worker_name:
    actions:
    - key: worker.name
      action: delete

  groupbyattrs/api_aggregation:
    keys:
    - api.request_duration

  batch:

exporters:
  prometheus:
    endpoint: 0.0.0.0:8889
    # send_timestamps: true
    namespace: pulp
  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true
  debug:
    verbosity: detailed

extensions:
  health_check:
  pprof:
  zpages:
    endpoint: 0.0.0.0:55679

service:
  extensions: []
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlp/jaeger]

    metrics/aggregation:
      receivers: [otlp]
      processors:
        - memory_limiter
        - filter/filter_pulp_api_request_duration
        - attributes/remove_worker_name
        - batch/api_aggregation
        - groupbyattrs/api_aggregation
      exporters: [prometheus]

    metrics/main:
      receivers: [otlp]
      processors:
        - memory_limiter
        - filter/exclude_pulp_api
        - batch
      exporters: [prometheus]
